{#
/**
 * @file karmayo_society_pledge.html.twig
 * Default theme implementation to present Society user pledge entity data.
 *
 * This template is used when viewing Society user pledge entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_karmayo_society_pledge()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('karmayo_society_pledge') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
